.App{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    flex-direction: column;
    transition: all 250ms ease-in;
}
.title{
    color: var(--primary-color);
    margin-bottom: 20px;
}

.box button{
    margin-top: 20px;
    padding: 37px 100px;
    border-radius: 40px;
    border: none;
   background-image: url(../public/bg-button.avif);
 
    border: 5px solid rgb(82, 79, 79);
    cursor: pointer;
    box-shadow: 0 5px 10px rgb(111, 110, 110);
    
}
.box .circle{
    content: "";
    position: absolute;
    top: 42%;
    left: 2%;
    background: #ffffff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(14, 26, 184, 0.5);
    cursor: pointer;
    transition: transform .3s ease;
}

.box{
position: relative;
}
.box h2{
    color: var(--primary-color);
}

button .moon{
    width: 50px;
    height: 50px;
 position: absolute;
 top: 50%;
 right: 15%;
 transition: opacity 0.3s ease;
  
} button .sun{
   width: 100px;
    height:100px;
 position: absolute;
 top: 33%;
 right: -1%;
 opacity: 0;
 transition: opacity 0.3s ease;
}


[data-theme="dark"] {
    --background-color: #050e2e;
    --primary-color: #ffffff;
    --secondary-color: #ffffff;
    --button-primary-color: #f9f2b4;
    --button-secondary-color: #050e2e;

.circle{
transform: translateX(180%);
}

.moon{
    opacity: 0;
}
.sun{
    opacity: 1;
}

.box button{
    background-image: url(../public/day.avif) ;
      background-position: center;
      background-size: cover;
    box-shadow: 0 5px 10px rgb(237, 162, 23);
        border: 5px solid rgb(232, 170, 77)
}

}