*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
--background-color : #fdfafa;
--primary-color : #000000;
--secondary-color : #ffffff;
--button-primary-color : #050e2e;
--button-secondary-color : #f9f2b4;
}